# Terraform local files
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/crash.log
terraform/*.tfvars
terraform/*.tfvars.json
terraform/override.tf
terraform/override.tf.json

